/* body要素のスタイル */
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #444;
  line-height: 1.5;
}

/* h1要素のスタイル */
h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #555;
  color: #fff;
  background-color: #45aaf2;
  padding: 20px;
  border-radius: 10px;
}

/* h2要素のスタイル */
h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* p要素のスタイル */
p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

/* a要素のスタイル */
a {
  color: #45aaf2;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #45aaf2;
  padding: 5px;
  border-radius: 5px;
}

/* img要素のスタイル */
img {
  margin: 20px;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 10px;
}

/* リストのスタイル */
ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.5;
}
